{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <title>{{ title_name }}</title>
        <link rel="stylesheet" href="{% static '/style.css' %}">
    </head>
    <body>
        {% block blog %}
        {% endblock %}
    </body>
</html>